In [1]:
# syntax to print welcome message
print("welcome to python")

welcome to python

In [2]:
# comments

# this is single line comments
"""
this
is
multiline
comments

these comments will not be executed by the python compiler. 
it is for your/anyone's understading or future reference

"""

"\nthis\nis\nmultiline\ncomments\n\nthese comments will not be executed by the python compiler. \nit is for your/anyone's understading or future reference\n\n"

In [14]:
# Initialize variables

x = 104
print(x)
y = 11.1
print(y)
lname = "karthick"  # Last name
print(lname)
fname = 'AG'  # First name
print(fname)
areaname = 'TN-\'Trichy'  # Area name with an escaped single quote
print(areaname)
areaname = "TN-\"Trichy"  # Area name with an escaped single quote
print(areaname)
areaname = 'TN-"Trichy'  # Area name with an escaped single quote
print(areaname)
areaname = "TN-'Trichy"  # Area name with an escaped single quote
print(areaname)
longstr = """welcome to python
programming
first session on accessing tools
welcome to python


programming
first session on accessing tools
welcome to python
programming
first session on accessing tools
"""
print(longstr)

104
11.1
karthick
AG
TN-'Trichy
TN-"Trichy
TN-"Trichy
TN-'Trichy
welcome to python
programming
first session on accessing tools
welcome to python


programming
first session on accessing tools
welcome to python
programming
first session on accessing tools

In [22]:
# Print types of variables

# type(variable name)
print(x)
print(type(x))
print(y)
print(type(y))
print(fname)
print(type(fname))
print(type(lname))
print(type(areaname))
print(type(longstr))

104
<class 'int'>
11.1
<class 'float'>
AG
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# Print messages with quotes
print("welcome to python's class")
print('welcome to python"s class')

In [27]:
# Initialize list with various elements
x = [10, 20, 30]

print(x)
print(x[0])
print(x[1])
print(x[2])

[10, 20, 30]
10
20
30

In [30]:

x = [10, 20, 30, 'jkjhk']

print(x)
print(x[0])
print(x[1])
print(x[2])
print(x[3])

[10, 20, 30, 'jkjhk']
10
20
30
jkjhk

In [36]:
x = [10, 20, 30, 'jkjhk', 11.2, [34, 33]]
print(x)
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])
print(x[5])
print(x[5][0])
print(x[5][1])

[10, 20, 30, 'jkjhk', 11.2, [34, 33]]
10
20
30
jkjhk
11.2
[34, 33]
34
33