In [1]:
# syntax to print welcome message
print("welcome to python")

welcome to python

In [2]:
# comments

# this is single line comments
"""
this
is
multiline
comments

these comments will not be executed by the python compiler. 
it is for your/anyone's understading or future reference

"""

"\nthis\nis\nmultiline\ncomments\n\nthese comments will not be executed by the python compiler. \nit is for your/anyone's understading or future reference\n\n"

In [14]:
## Variable declaration

# case sensitive

x = 10 # it can start with small letter
xValue = 11 # it can start with small letter
X = 101 # it can start with capital letter
XValue = 102 # it can start with capital letter
print(x,X, xValue, XValue)

_x = 13 # it can start with underscore

print(_x)

# cannot start with any numbers
# cannot start with any other symbols other than _(underscore)

10 101 11 102
13

In [16]:
# Initialize variables

x = 104
print(x)
y = 11.1
print(y)
lname = "karthick"  # Last name
print(lname)
fname = 'AG'  # First name
print(fname)
areaname = 'TN-\'Trichy'  # Area name with an escaped single quote
print(areaname)
areaname = "TN-\"Trichy"  # Area name with an escaped single quote
print(areaname)
areaname = 'TN-"Trichy"'  # Area name with an escaped single quote
print(areaname)
areaname = "TN-'Trichykfhkslhfk jhklkjhljkhlk"  # Area name with an escaped single quote
print(areaname)
longstr = '''welcome to python
programming
first session on accessing tools
welcome to python


programming
first session on accessing tools
welcome to python
programming
first session on accessing tools
'''
print(longstr)

104
11.1
karthick
AG
TN-'Trichy
TN-"Trichy
TN-"Trichy"
TN-'Trichykfhkslhfk jhklkjhljkhlk
welcome to python
programming
first session on accessing tools
welcome to python


programming
first session on accessing tools
welcome to python
programming
first session on accessing tools

In [22]:
# Print types of variables

# type(variable name)
print(x)
print(type(x))
print(y)
print(type(y))
print(fname)
print(type(fname))
print(type(lname))
print(type(areaname))
print(type(longstr))

104
<class 'int'>
11.1
<class 'float'>
AG
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# Print messages with quotes
print("welcome to python's class")
print('welcome to python"s class')

In [45]:
# Initialize list with various elements
x = [10, 20, 30]


print(x)
print(x[0])
print(x[1])
print(x[2])

[10, 20, 30]
10
20
30

In [47]:
# Initialize tuple with various elements
x = (10, 20, 30,11.2,'fdfdskjl',[232,434.33])

# trying to convert tuple into list to do manipulation
x1 = list(x)
x1[0]=2224343422
x = tuple(x1) # converting back to tuple

print(x1)
print(x)
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])
print(x[5])
print(x[5][0])
print(x[5][1])

[2224343422, 20, 30, 11.2, 'fdfdskjl', [232, 434.33]]
(2224343422, 20, 30, 11.2, 'fdfdskjl', [232, 434.33])
2224343422
20
30
11.2
fdfdskjl
[232, 434.33]
232
434.33

In [57]:
# # Initialize set with various elements
x = {10, 20, 30}
print(x)

{10, 20, 30}

In [46]:
# # # Initialize dictionary with various elements
x = {"name":"karthick", "age":22}
print(x["name"])
print(x["age"])

x["age"]=24
print(x["age"])
print(x)

x["city"]="Trichy"
print(x)

karthick
22
24
{'name': 'karthick', 'age': 24}
{'name': 'karthick', 'age': 24, 'city': 'Trichy'}

In [62]:
# # Initialize list with various elements

In [59]:

x = [10, 20, 30, 'ragu']

print(x)
print(x[0])
print(x[1])
print(x[2])
print(x[3])

[10, 20, 30, 'ragu']
10
20
30
ragu

In [58]:
x = [10, 20, 30, 'ragu', 11.2, [34, 33]]

print(x)
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])
print(x[5])
print(x[5][0])
print(x[5][1])

[10, 20, 30, 'ragu', 11.2, [34, 33]]
10
20
30
ragu
11.2
[34, 33]
34
33

In [4]:

x = [10, 20, 30,11.2,'ragu',[232,434.33]]
x[0]=22222

# print(x1)
print(x)
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])
print(x[5])
print(x[5][0])
print(x[5][1])

[22222, 20, 30, 11.2, 'ragu', [232, 434.33]]
22222
20
30
11.2
ragu
[232, 434.33]
232
434.33